.document-card {
    background-color: #61dafb;
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    text-align: center;
  }
  
  .document-card:hover {
    background-color: #21a1f1;
  }
  